---
import RootLayout from '@/layouts/Root.astro'
import Nav from '@/components/Nav.astro'
import profileImage from '@/assets/profile.webp'
import { Image } from 'astro:assets'
---

<RootLayout title="~/about">
  <Nav />
  <main class="px-8 md:px-20 lg:px-32 2xl:px-72 py-12 lg:py-20 !pb-32 mt-10">
    <div class="grid xl:grid-cols-2 items-center gap-8">
      <Image
        class="rounded-full w-40 md:w-48 lg:w-96 aspect-square"
        src={profileImage}
        alt="oh it's me"
        loading="eager"
      />
      <div>
        <h1 class="text-2xl lg:text-3xl font-bold font-header">
          A little story about myself
        </h1>
        <p class="mt-4 lg:mt-8 lg:text-lg max-w-[65ch]">
          Hi there! I am a second-year undergraduate studying computer science
          and a self-taught web developer. Being a computer engineer, I want to
          be really good at solving problems.
        </p>
        <p class="mt-4 lg:text-lg max-w-[65ch]">
          I spend most of my time in front of my laptop—surfing the internet,
          reading articles, watching tutorials, and coding intriguing projects.
        </p>
        <p class="mt-4 lg:text-lg max-w-[65ch]">
          I'm always eager to connect with fellow tech enthusiasts and create
          meaningful experiences together. Hackathons and tech events are
          exciting opportunities I look forward to—they're fantastic for meeting
          incredible individuals and building valuable networks.
        </p>
        <p class="mt-4 lg:text-lg max-w-[65ch]">
          I've completed a few freelance jobs on Upwork, and I'm considering
          taking on more projects.
        </p>
        <div class="flex gap-8">
          <a
            class="flex space-x-2 items-center group text-neutral-800 hover:underline underline-offset-4 lg:text-lg font-medium rounded-lg mt-6 w-fit"
            href="/projects"
          >
            <span class="group-hover:italic">Projects</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6 origin-left group-hover:scale-x-150 transition"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"></path>
            </svg>
          </a>
          <a
            class="flex space-x-2 items-center group text-neutral-800 hover:underline underline-offset-4 lg:text-lg font-medium rounded-lg mt-6 w-fit"
            href="/codebits"
          >
            <span class="group-hover:italic">Codebits</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6 origin-left group-hover:scale-x-150 transition"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"></path>
            </svg>
          </a>
        </div>
      </div>
    </div>
    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 mt-40 gap-5 card-container"
    >
      <div
        class="flex flex-col justify-between w-full lg:aspect-square bg-slate-200 p-6 rounded-md gap-6"
      >
        <h4 class="text-2xl lg:text-3xl font-header font-medium">
          My services
        </h4>
        <button
          id="randomColor"
          class="px-8 py-4 text-sm bg-black text-white h-fit w-fit rounded-full font-light tracking-wide"
          >Randomize</button
        >
      </div>
      <div
        class="flex flex-col justify-between w-full lg:aspect-square bg-slate-200 p-6 rounded-md card gap-6"
      >
        <span class="max-sm:text-sm"
          >Code | UX | Animations | Responsive UI | Modern Pratices & Frameworks</span
        >
        <h5 class="text-xl font-header font-semibold">Web Frontend</h5>
      </div>
      <div
        class="flex flex-col justify-between w-full lg:aspect-square bg-slate-200 p-6 rounded-md card gap-6"
      >
        <span class="max-sm:text-sm"
          >Code | Architecture | Design Pattern | Rapid MVP Development</span
        >
        <h5 class="text-xl font-header font-semibold">Web Fullstack</h5>
      </div>
      <div
        class="flex flex-col justify-between w-full lg:aspect-square bg-slate-200 p-6 rounded-md card max-lg:hidden"
      >
        <span class="max-sm:text-sm">To make randomize more lively</span>
        <h5 class="text-xl font-header font-semibold">Placeholder</h5>
      </div>
      <div
        class="flex flex-col justify-between w-full lg:aspect-square bg-slate-200 p-6 rounded-md card max-lg:hidden"
      >
        <span class="max-sm:text-sm">To make randomize more lively</span>
        <h5 class="text-xl font-header font-semibold">Placeholder</h5>
      </div>
      <div
        class="flex flex-col justify-between w-full lg:aspect-square bg-slate-200 p-6 rounded-md card max-lg:hidden"
      >
        <span class="max-sm:text-sm">To make randomize more lively</span>
        <h5 class="text-xl font-header font-semibold">Placeholder</h5>
      </div>
    </div>
    <div class="flex gap-2 items-center mt-20 flex-wrap">
      <h1 class="text-2xl lg:text-3xl font-bold font-header">
        My prefered stacks
      </h1>
      <p>
        (* I have experience with other technologies too, but I like working
        with these tech stacks. *)
      </p>
    </div>
    <div class="space-y-4 mt-6">
      <div class="space-y-3">
        <h2 class="text-xl font-medium">Fullstack App</h2>
        <p class="lg:text-lg">
          Nextjs &bull; NextAuth / Lucia Auth &bull; Tailwind CSS w. shadcn/ui
          &bull; ORM (Supabase, Prisma, Drizzle)
        </p>
        <p class="lg:text-lg">
          SvelteKit &bull; Lucia Auth &bull; Tailwind CSS w. shadcn-svelte
          &bull; ORM (Supabase, Prisma, Drizzle)
        </p>
      </div>
      <div class="space-y-3">
        <h2 class="text-xl font-medium">Static Site</h2>
        <p class="lg:text-lg">Astro &bull; Tailwind CSS</p>
        <p class="lg:text-lg">
          Vite &bull; HTML &bull; CSS or Tailwind CSS &bull; Javascript
        </p>
      </div>
    </div>
  </main>
</RootLayout>

<script>
  document.addEventListener('astro:page-load', () => {
    const randomColorBtn = document.getElementById('randomColor')

    randomColorBtn?.addEventListener('click', () => {
      changeColor()
    })

    function changeColor() {
      document.querySelectorAll('.card').forEach((card: HTMLDivElement) => {
        card.style.transition = 'all 0.3s ease-in-out'
        card.style.backgroundColor = getRandomLightColor()
      })
    }

    function getRandomLightColor() {
      let r, g, b
      do {
        r = Math.floor(Math.random() * 46) + 210
        g = Math.floor(Math.random() * 46) + 210
        b = Math.floor(Math.random() * 46) + 210
      } while ((r > g && r > b) || (r === g && r > b)) // Avoid red, yellow, and orange shades

      return `rgb(${r}, ${g}, ${b})`
    }
  })
</script>
