---
import RootLayout from "@/layouts/Root.astro";
import Nav from "@/components/Nav.astro";
import DynamicButton from "@/components/react/dynamic-button.jsx";
---

<RootLayout title="Codebits">
  <Nav />
  <main class="px-4 md:px-20 lg:px-32 2xl:px-60 py-12">
    <h1 class="text-3xl font-serif font-semibold">
      some little pieces of code i like to show off.
    </h1>
    <section class="grid grid-cols-1 lg:grid-cols-2 gap-2 mt-12">
      <div
        class="h-96 bg-neutral-50 rounded-xl border-2 border-neutral-200 grid place-items-center"
      >
        <DynamicButton client:load />
      </div>
      <div
        class="h-96 bg-neutral-50 rounded-xl border-2 border-neutral-200 grid place-items-center"
      >
        Awesome UI here soon.
      </div>
      <div
        class="h-96 bg-neutral-50 rounded-xl border-2 border-neutral-200 grid place-items-center"
      >
        Awesome UI here soon.
      </div>
      <div
        class="h-96 bg-neutral-50 rounded-xl border-2 border-neutral-200 grid place-items-center"
      >
        Awesome UI here soon.
      </div>
    </section>
  </main>
</RootLayout>
