---
import Nav from '@/components/Nav.astro'
import RootLayout from '@/layouts/Root.astro'
import { sliderIcons } from '@/lib/icons-map'
import { Image } from 'astro:assets'
---

<RootLayout title="/yagnik">
  <Nav />
  <main class="h-dvh py-28 md:py-40 container mx-auto px-4 lg:px-20">
    <h3
      class="text-3xl md:text-4xl font-bold text-zinc-400 font-header"
      id="name"
    >
      Hi, its Yagnik 👋
    </h3>
    <p
      class="mt-6 text-xl md:text-3xl font-bold text-zinc-800 max-w-3xl opacity-0"
      id="para"
    >
      Hey there! I’m a second-year computer science student @KPGU with a passion
      for building awesome, engaging web experiences. My days are filled with
      coding and exploring new ideas. Let’s make something amazing together!
    </p>
    <div
      class="items-center whitespace-nowrap space-x-8 md:space-x-12 overflow-hidden opacity-0 flex pt-10"
      id="list-container"
    >
      {
        Array.from({ length: 2 }).map(() => (
          <div class="inline-flex gap-x-8 md:gap-x-12 w-max list">
            {Object.entries(sliderIcons).map(([iconName, icon]) => (
              <div class="w-max aspect-square p-3 md:p-5 bg-zinc-100 rounded-[19px] relative group">
                <div class="absolute bottom-[calc(100%+0.5rem)] py-0.5 px-4 rounded-full bg-zinc-100 left-1/2 -translate-x-1/2 text-xs md:text-sm opacity-0 group-hover:opacity-100 group-hover:scale-100 transition scale-50 origin-bottom">
                  {iconName}
                </div>
                <Image
                  class="object-contain aspect-square rounded-lg"
                  width={40}
                  height={40}
                  src={icon}
                  alt={iconName}
                  loading="eager"
                />
              </div>
            ))}
          </div>
        ))
      }
    </div>
  </main>
</RootLayout>

<style is:global>
  @keyframes slider {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - 2rem));
    }
  }

  #list-container {
    mask-image: linear-gradient(90deg, transparent, black 10% 90%, transparent);
  }

  .list {
    animation: slider 35s linear infinite;
  }

  .line,
  #name {
    opacity: 0;
  }

  @media (min-width: 768px) {
    @keyframes slider {
      from {
        transform: translateX(0);
      }
      to {
        transform: translateX(calc(-100% - 3rem));
      }
    }
    .list {
      animation: slider 35s linear infinite;
    }
  }
</style>

<script>
  import SplitType from 'split-type'
  import { stagger, animate } from 'motion'

  document.addEventListener('astro:page-load', () => {
    const para = SplitType.create('#para', { types: 'lines' })
    document.getElementById('para').style.opacity = '1'

    animate(
      '#name',
      {
        y: [10, 0],
        opacity: [0, 1],
      },
      {
        duration: 1.25,
        type: 'spring',
      },
    )
    animate(
      para.lines,
      {
        y: [10, 0],
        opacity: [0, 1],
      },
      {
        duration: 1.25,
        type: 'spring',
        delay: stagger(0.025),
      },
    )
    animate(
      '#list-container',
      {
        y: [10, 0],
        opacity: [0, 1],
      },
      {
        duration: 1.25,
        type: 'spring',
      },
    )
  })

  // animate(
  //   '#floatingBarContainer',
  //   { y: [50, 0], opacity: [0, 1] },
  //   { duration: 1.5, type: 'spring' },
  // )
</script>
