---
import RootLayout from '@/layouts/Root.astro'
import MobileNav from '@/components/MobileNav.astro'
import {
  appProjects,
  fullstackProjects,
  realWorldProjects,
  staticProjects,
} from '@/lib/projects-data'
import { Picture } from 'astro:assets'
import { cn } from '@/lib/utils'
import { Icon } from 'astro-icon/components'
import DesktopNav from '@/components/DesktopNav.astro'
import ProjectCard from '@/components/project-card'

const allProjects = [
  {
    label: 'Real World Works',
    projects: realWorldProjects,
  },
  {
    label: 'Fullstacks',
    projects: fullstackProjects,
  },
  {
    label: 'Web Apps (PWA)',
    projects: appProjects,
  },
  {
    label: 'Static Sites',
    projects: staticProjects,
  },
]
---

<RootLayout title="~/projects">
  <DesktopNav />
  <MobileNav />
  <main class="container mx-auto px-8 lg:px-20 py-6 lg:py-10 mt-10 pb-32!">
    {
      allProjects.map((projectCategory, index) => (
        <>
          <h1
            class={cn(
              'text-2xl md:text-3xl text-neutral-900 font-bold font-serif',
              index !== 0 && 'mt-20',
            )}
          >
            {projectCategory.label}
          </h1>
          <div class="grid lg:grid-cols-2 gap-6 lg:gap-10 mt-10">
            {projectCategory.projects.map((project) => (
              <ProjectCard project={project} client:load />
            ))}
          </div>
        </>
      ))
    }
  </main>
</RootLayout>
