---
import RootLayout from '@/layouts/Root.astro'
// import SlickDropwdown from '@/components/codebits/slick-dropdown.tsx'
import NicheGrid from '@/components/niche-grid'
---

<RootLayout title="Prototype">
  <main class="h-dvh flex flex-col gap-20 justify-center items-center p-10">
    <NicheGrid client:load />
  </main>
</RootLayout>
