---
import DynamicSliderWidget from '@/components/codebits/dynamic-slider-widget'
import RootLayout from '@/layouts/Root.astro'
---

<RootLayout title="Prototype">
  <main class="h-dvh grid place-content-center">
    <DynamicSliderWidget client:load />
  </main>
</RootLayout>
