<div class="mt-28 flex flex-col items-center space-y-6">
  <h1 class="text-2xl lg:text-4xl font-semibold text-neutral-700">
    This page is work in progress.
  </h1>
  <p class="lg:text-xl text-neutral-700 font-medium">
    Meanwhile browse something else.
  </p>
  <a
    class="block text-neutral-800 underline underline-offset-4 text-lg hover:text-blue-700 text-center font-medium px-4 py-3"
    href="/">Home Page</a
  >
</div>
