---
interface Props {
  title: string
}
const { title } = Astro.props
import 'splitting/dist/splitting.css'
import 'splitting/dist/splitting-cells.css'
import '@fontsource-variable/inter'
import '@fontsource-variable/montserrat'
import { ViewTransitions } from 'astro:transitions'
import SpeedInsights from '@vercel/speed-insights/astro'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="A personal portfolio website of Yagnik Patel."
    />
    <title>{title}</title>
    <ViewTransitions />
    <SpeedInsights />
  </head>
  <body class="font-sans bg-white">
    <slot />
  </body>
</html>
