---
const TABS = ['Fortnite', 'Asphalt 9', 'FIFA 24']
---

<section class="relative">
  <div class="flex items-center">
    {
      TABS.map((game) => (
        <button
          class="tab-btn text-sm md:text-base font-medium px-6 py-2 rounded-full"
          data-value={game}
        >
          {game}
        </button>
      ))
    }
  </div>
  <div
    class="bg-teal-800 text-neutral-100 flex items-center absolute inset-0 transition-all duration-[250ms] ease-[ease] pointer-events-none"
    id="cliped"
    aria-hidden="true"
  >
    {
      TABS.map((game) => (
        <button
          data-value={game}
          class="font-medium text-sm md:text-base px-6 py-2 rounded-md"
        >
          {game}
        </button>
      ))
    }
  </div>
</section>

<style>
  #cliped {
    clip-path: inset(0px 68% 0px 0% round 69px);
  }
</style>

<script>
  document.addEventListener('astro:page-load', () => {
    const cliped = document.getElementById('cliped')
    const buttons = document.querySelectorAll(
      '.tab-btn',
    ) as NodeListOf<HTMLButtonElement>

    const clipLeft = buttons[0].offsetLeft
    const clipRight = buttons[0].offsetLeft + buttons[0].offsetWidth
    cliped.style.clipPath = `inset(0 ${Number(100 - (clipRight / cliped.offsetWidth) * 100).toFixed()}% 0 ${Number((clipLeft / cliped.offsetWidth) * 100).toFixed()}% round 69px)`

    buttons.forEach((btn) =>
      btn.addEventListener('click', () => {
        const clipLeft = btn.offsetLeft
        const clipRight = btn.offsetLeft + btn.offsetWidth
        cliped.style.clipPath = `inset(0 ${Number(100 - (clipRight / cliped.offsetWidth) * 100).toFixed()}% 0 ${Number((clipLeft / cliped.offsetWidth) * 100).toFixed()}% round 69px)`
      }),
    )
  })
</script>
